.nav-side-menu {
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  /*background-color: #364252;*/
  background-color:#f4f7f9;
  position: absolute;
  width: 200px;
  /*width:12%;*/
  /*height: 100%;*/
  height:84%;
  color: #ffffff;
  border-right:1px solid #e7e7e7;
}
.nav-side-menu .brand {
  background-color: #2c3643;
  line-height: 40px;
  display: block;
  text-align: center;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul .collapsed .arrow:before,
.nav-side-menu li .collapsed .arrow:before {
  font-family: FontAwesome;
  content: "\f053";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #44b6ae;
  /*background-color: #5e7390;*/
  background-color:#e7e7e7;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #1AAE98;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  /*background-color: #222933;*/
  background-color:#f4f7f9;
  border: none;
  line-height: 28px;
  /*border-bottom: 1px solid #2c3643;*/
  border-bottom:1px solid #e7e7e7;
  margin-left: 0px;
  color:#777;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  /*background-color: #364252;*/
  background-color:#e7e7e7;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #364252;
  /*border-bottom: 1px solid #2c3643;*/
  border-bottom:1px solid #e7e7e7;
  padding:5px;
}
.nav-side-menu li a {
  text-decoration: none;
  /*color: #ffffff;*/
  color:#777;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #FFF;
  /*background-color: #5e7390;*/
  background-color:#e7e7e7;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
  }
  .brand {
    text-align: left !important;
    font-size: 20px;
    padding-left: 10px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  
  .container {
        /*width: 1130px;*/
		width:88% !important;
        margin-left: 200px;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

.container{
	width:88% !important;
}
